@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,700&family=Titillium+Web:wght@300;400;600;700&display=swap");
:root {
  --gradient-1: #eeaa52;
  --gradient-2: #e73c6f;
  --gradient-3: #2394d5;
}

body {
  background-color: #1f1f1f;
  color: #f1ffff;
  font-size: clamp(1rem, 0.82rem + 0.91vw, 1.5rem);
  font-family: "Titillium Web", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.border {
  border: clamp(0.12rem, 0.07rem + 0.91vw, 0.5rem) solid #363636;
  height: 100svh;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  height: 100%;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  align-items: center;
}
@media (min-width: 460px) {
  .container {
    width: 80%;
  }
}

.crumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 0.5em;
}

.crumbs__list {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.crumbs__copyright {
  font-size: 0.75rem;
  opacity: 0.5;
}

.crumbs__list::before {
  content: "see my crumbs";
  font-size: 1rem;
  opacity: 0.75;
}

.navbar {
  margin-top: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  text-align: left;
  flex-grow: 1;
  padding-right: 1rem;
}

.navbar__logo--align {
  text-align: center;
}

.navbar__navigation {
  padding-block: clamp(0.25rem, -0.04rem + 1.46vw, 1rem);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink::after {
  display: block;
  content: "";
  border-bottom: solid 2px #f1ffff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 1px;
}

.navLink:hover::after,
.navLink:active::after {
  transform: scaleX(1);
}

.navLink.active::after {
  transform: scaleX(1);
}

.btn.cv {
  opacity: 0.75;
  padding-inline: 8px;
  padding-block: 4px;
  text-align: center;
  border: 0.2rem solid #363636;
}

.underlay {
  fill: transparent;
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5;
}

.filler {
  fill: transparent;
  stroke: url(#gradient);
  stroke-width: 1.5;
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  transition: stroke-dashoffset 750ms ease-in-out;
}

svg:hover > .filler {
  stroke-dashoffset: 0;
}

.navbar__logo {
  font-size: clamp(1.13rem, 0.44rem + 3.41vw, 3rem);
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
}

.btn {
  display: inline-block;
  border: 0.2rem solid #ebebeb;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

.btn:hover {
  box-shadow: 0 0 1rem 0.5rem #363636 inset;
}

.border__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  stroke: rgb(218, 26, 26);
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
}

.tags_link {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.tags_link:hover {
  opacity: 0.5;
}

.contactForm__container input {
  background-color: #1f1f1f;
  color: #f1ffff;
  border-radius: 0.25rem;
  border: 1px solid #363636;
  width: 100%;
  padding: clamp(0.13rem, 0.03rem + 0.49vw, 0.38rem);
}

.textAreaWrapper {
  height: 100%;
}

.contactForm__messageInput {
  background-color: #1f1f1f;
  color: #f1ffff;
  border-radius: 0.25rem;
  border: 1px solid #363636;
  resize: none;
  width: 100%;
  padding: clamp(0.13rem, 0.03rem + 0.49vw, 0.38rem);
  height: calc(100% - clamp(2rem, 1rem + 0.98vw, 2.5rem));
}

.accordion__content {
  height: 0;
  overflow: hidden;
}

.accordion.is-open .accordion__content {
  height: auto;
}

.accordion__inner {
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
}

.hero {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas: "badge" "headline" "subheadline" "text" "cta";
}
@media (min-width: 920px) {
  .hero {
    grid-template-areas: "headline badge" "subheadline badge" "text badge" "cta badge";
    justify-items: start;
  }
}
.hero__subheadline {
  text-align: center;
  grid-area: subheadline;
  font-size: clamp(1.5rem, 2.727vw + 0.955rem, 3rem);
  font-weight: 600;
}
@media (min-width: 460px) {
  .hero__subheadline {
    text-align: left;
  }
}
.hero__text {
  text-align: center;
  grid-area: text;
  line-height: 1.5;
}
@media (min-width: 920px) {
  .hero__text {
    padding-right: 3rem;
    text-align: left;
  }
}
.hero__logo {
  justify-self: center;
}

.hero__headline {
  width: auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: clamp(1rem, 0.61rem + 1.95vw, 2rem);
  font-weight: 300;
  grid-area: headline;
}

.hero__cta {
  padding-top: 1rem;
  position: relative;
  grid-area: cta;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hero__logo {
  grid-area: badge;
  width: 240px;
  height: 240px;
}
@media (min-width: 920px) {
  .hero__logo {
    width: 320px;
    height: 320px;
  }
}

.rect {
  stroke-width: 5px;
  stroke-dasharray: 10px;
  stroke-dashoffset: 1rem;
}

.work {
  position: relative;
}

.work__content {
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  overflow-y: scroll;
}
@media (min-width: 920px) {
  .work__content {
    height: 60vh;
  }
}

.work__content::-webkit-scrollbar {
  width: 8px;
}

.work__content::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

.project {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1em;
  border: 0.2rem solid #363636;
  border-radius: 0.5rem;
  padding: 1em;
  margin-right: 0.25rem;
  grid-template-areas: "badge" "headline" "description" "aside";
}
@media (min-width: 920px) {
  .project {
    grid-template-columns: 1fr 0.2fr;
    grid-template-areas: "headline badge" "description badge" "aside badge";
  }
}

.project__name {
  grid-area: headline;
  text-align: center;
}
@media (min-width: 920px) {
  .project__name {
    text-align: left;
  }
}

.project__description {
  grid-area: description;
  text-align: center;
}
@media (min-width: 920px) {
  .project__description {
    text-align: left;
  }
}

.project__aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  grid-area: aside;
  gap: 1em;
}
@media (min-width: 920px) {
  .project__aside {
    justify-content: space-between;
  }
}

.project__links {
  display: flex;
  gap: 1em;
}

.project__stack {
  display: flex;
  gap: 1em;
}

.project__badge {
  grid-area: badge;
  justify-self: center;
}

.project__badge img {
  aspect-ratio: 1;
  object-fit: cover;
  width: clamp(6rem, 2.49rem + 17.56vw, 15rem);
  border: 0.2rem solid #363636;
  border-radius: 50%;
}

.design {
  position: relative;
}

.design__tabs {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
@media (min-width: 460px) {
  .design__tabs {
    justify-content: space-between;
  }
}

.tab {
  color: #363636;
}

.tab.is-selected {
  color: #f1ffff;
}

.tab::before {
  content: "#";
  color: #363636;
  padding-right: 0.25rem;
}

.tab:hover::before,
.tab:focus::before {
  color: transparent;
  background: #f1ffff;
  background-clip: text;
  -webkit-background-clip: text;
}

.tab.is-selected::before {
  color: transparent;
  background: #f1ffff;
  background-clip: text;
  -webkit-background-clip: text;
}

.design__content {
  display: grid;
  grid-template-columns: 1fr;
  height: 65vh;
  gap: 1rem;
  overflow-y: scroll;
}

.design__content::-webkit-scrollbar {
  width: 8px;
}

.design__content::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

.tab-content {
  display: none;
}

.tab-content.is-selected {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.designProject {
  position: relative;
  border: 0.2rem solid #363636;
  height: 30vh;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
}

.designProject > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
}

.designName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.designProject:hover > img {
  opacity: 1;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 50ms ease-in-out;
}
@media (min-width: 460px) {
  .modal-overlay {
    padding: 2rem;
  }
}
@media (min-width: 920px) {
  .modal-overlay {
    padding: 5rem;
  }
}

.modal-is-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}

.figmaDesign {
  position: relative;
  border: 0.2rem solid #363636;
  border-radius: 0.5rem;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "design" "content";
}
@media (min-width: 460px) {
  .figmaDesign {
    max-width: 80vw;
  }
}
@media (min-width: 920px) {
  .figmaDesign {
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "design content";
    max-width: 75vw;
  }
}

.designFigma {
  grid-area: design;
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  grid-area: content;
  background-color: rgba(31, 31, 31, 0.6666666667);
}

.desingButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fdLinkButton {
  width: max-content;
}

.about__container {
  text-align: center;
  padding-right: 0.5rem;
  height: 75vh;
  overflow-y: auto;
  overflow-anchor: auto;
  overflow-x: hidden;
}
@media (min-width: 460px) {
  .about__container {
    text-align: left;
  }
}

.about__container::-webkit-scrollbar {
  width: 8px;
}

.about__container::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

.about__listItemHeading {
  position: relative;
  padding-right: 1rem;
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1rem, 0.61rem + 1.95vw, 2rem);
  margin-block: 0.75rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border-bottom: 2px solid #363636;
}

.about__listItemHeading::after {
  content: ">";
  display: inline-block;
  position: absolute;
  color: #363636;
  right: 0;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}

.about__listItemHeading.rotated::after {
  transform: rotate(90deg);
}

.about__listItemText p {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.aboutPreviousExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPreviousText {
  margin-left: 2rem;
}

.aboutPersonal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPersonalHeadings {
  font-style: italic;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.aboutPersonalText {
  margin-left: 2rem;
}

.accordion__content {
  transition: height 250ms ease-in-out;
  padding-right: 0.5rem;
}

.accordion__content::-webkit-scrollbar {
  width: 8px;
}

.accordion__content::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

.courseLink {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.workLink {
  font-style: bold;
  color: #ff4144;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.contact {
  display: flex;
  flex-flow: column;
  gap: 5rem;
}

.contactForm__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "email" "message" "submit";
  align-items: stretch;
  gap: clamp(1rem, 0.61rem + 1.95vw, 2rem);
}
@media (min-width: 460px) {
  .contactForm__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name message" "email message" "submit submit";
  }
}

.contactForm__nameContainer {
  grid-area: name;
}

.contactForm__emailContainer {
  grid-area: email;
}

.contactForm__messageContainer {
  grid-area: message;
}

.contactForm__label {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.contactPickupLine {
  text-align: center;
}
.contactPickupLine p {
  font-family: "Montserrat Alternates", sans-serif;
}

.submitButton {
  text-align: center;
  width: fit-content;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  font-weight: 400;
  grid-area: submit;
  justify-self: center;
}

/*# sourceMappingURL=styles.css.map */
