//
// ABOUT PAGE STYLES

@use '../abstracts';

.about__container {
  text-align: center;
  padding-right: 0.5rem;

  height: 75vh;

  overflow-y: auto;
  overflow-anchor: auto;
  overflow-x: hidden;

  @include abstracts.for-tablet-portrait-up {
    text-align: left;
  }
}

.about__container::-webkit-scrollbar {
  width: 8px;
}

.about__container::-webkit-scrollbar-thumb {
  background: abstracts.$border-dimmed;
  border-radius: 5px;
}

.about__name {
  width: max-content;
  padding-right: 1rem;
  font-family: abstracts.$hero-name;
  font-size: abstracts.$headline-size-clamp;
  font-style: italic;
  background: abstracts.$accent-gradient;

  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}

.about__listItemHeading {
  position: relative;
  padding-right: 1rem;
  color: abstracts.$background-dark;
  font-family: abstracts.$logo;
  font-size: abstracts.$large-font-size-clamp;
  font-style: italic;
  background: #fff;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;

  cursor: pointer;

  margin-block: 1rem;
  padding-block: 0.5rem;

  border-bottom: 2px solid abstracts.$border-dimmed;
}

.about__listItemHeading::after {
  content: '>';
  display: inline-block;
  position: absolute;
  color: abstracts.$border-dimmed;
  right: 0;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}

.about__listItemHeading.rotated::after {
  transform: rotate(90deg);
}

.about__listItemText p {
  margin-top: 0.5rem;
}

.aboutPreviousExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPreviousText {
  margin-left: 2rem;
}

.aboutPersonal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPersonalHeadings {
  font-style: italic;
}

.aboutPersonalText {
  margin-left: 2rem;
}

.accordion__content {
  transition: height 250ms ease-in-out;
  overflow-y: scroll;
  overflow-anchor: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;
}

.accordion__content::-webkit-scrollbar {
  width: 8px;
}

.accordion__content::-webkit-scrollbar-thumb {
  background: abstracts.$border-dimmed;
  border-radius: 5px;
}

.courseLink {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.workLink {
  font-style: bold;
  color: #ff4144;
  text-decoration: underline;
  text-underline-offset: 2px;
}
