//
// ABOUT PAGE STYLES

@use '../abstracts';

.about__container {
  text-align: center;
  padding-right: 0.5rem;

  height: 75vh;

  overflow-y: auto;
  overflow-anchor: auto;
  overflow-x: hidden;

  @include abstracts.for-tablet-portrait-up {
    text-align: left;
  }
}

.about__container::-webkit-scrollbar {
  width: 8px;
}

.about__container::-webkit-scrollbar-thumb {
  background: abstracts.$border-dimmed;
  border-radius: 5px;
}

.about__listItemHeading {
  position: relative;
  padding-right: 1rem;
  font-family: abstracts.$othertext;
  font-size: abstracts.$large-font-size-clamp;

  margin-block: 0.75rem;
  padding-bottom: 0.5rem;

  cursor: pointer;

  border-bottom: 2px solid abstracts.$border-dimmed;
}

.about__listItemHeading::after {
  content: '>';
  display: inline-block;
  position: absolute;
  color: abstracts.$border-dimmed;
  right: 0;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}

.about__listItemHeading.rotated::after {
  transform: rotate(90deg);
}

.about__listItemText p {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.aboutPreviousExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPreviousText {
  margin-left: 2rem;
}

.aboutPersonal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutPersonalHeadings {
  font-style: italic;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.aboutPersonalText {
  margin-left: 2rem;
}

.accordion__content {
  transition: height 250ms ease-in-out;
  padding-right: 0.5rem;
}

.accordion__content::-webkit-scrollbar {
  width: 8px;
}

.accordion__content::-webkit-scrollbar-thumb {
  background: abstracts.$border-dimmed;
  border-radius: 5px;
}

.courseLink {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.workLink {
  font-style: bold;
  color: #ff4144;
  text-decoration: underline;
  text-underline-offset: 2px;
}
