//
// DESIGN PAGE STYLES

@use '../abstracts';
@use '../components';

.design {
  position: relative;
}

.design__tags {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 0.5rem;
  gap: 0.5rem;

  @include abstracts.for-tablet-portrait-up {
    justify-content: space-between;
  }
}

.design__frame--phone {
  height: 100%;

  //*TODO
  // position: relative; /* not showing scrollbar when uncommented*/

  display: grid;
  grid-template-columns: 1fr;
  height: 60vh;
  gap: 1rem;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.design__frame--phone::-webkit-scrollbar {
  display: none;
}

.design__frame {
  position: relative;
  border: abstracts.$main-border-clamp solid abstracts.$border-dimmed;
  height: 30vh;
}

.design__item.portfolio {
  background-image: url(/img/designFigma/PortfolioThumbnail.PNG);
  width: 100%;
  height: 100%;
  background-size: cover;
}
