//
// DESIGN PAGE STYLES

@use '../abstracts';
@use '../components';

.design {
  position: relative;
}

.design__tabs {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 0.5rem;
  gap: 0.5rem;

  @include abstracts.for-tablet-portrait-up {
    justify-content: space-between;
  }
}

.tab {
  color: abstracts.$border-dimmed;
}

.tab.is-selected {
  color: abstracts.$font-light;
}

.tab::before {
  content: '#';
  color: abstracts.$border-dimmed;
  padding-right: 0.25rem;
}

.tab:hover::before,
.tab:focus::before {
  color: transparent;
  background: abstracts.$font-light;
  background-clip: text;
  -webkit-background-clip: text;
}

.tab.is-selected::before {
  color: transparent;
  background: abstracts.$font-light;
  background-clip: text;
  -webkit-background-clip: text;
}

.design__content {
  display: grid;
  grid-template-columns: 1fr;
  height: 65vh;
  gap: 1rem;

  overflow-y: scroll;
}

.design__content::-webkit-scrollbar {
  width: 8px;
}

.design__content::-webkit-scrollbar-thumb {
  background: abstracts.$border-dimmed;
  border-radius: 5px;
}

.tab-content {
  display: none;
}

.tab-content.is-selected {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.designProject {
  position: relative;
  border: abstracts.$thinner-border-clamp solid abstracts.$border-dimmed;
  height: 30vh;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
}

.designProject > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
}

.designName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.designProject:hover > img {
  opacity: 1;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.8);

  padding: 1rem;
  position: fixed;
  inset: 0;

  opacity: 0;
  z-index: -1;

  transition: opacity 50ms ease-in-out;
  @include abstracts.for-tablet-portrait-up {
    padding: 2rem;
  }
  @include abstracts.for-tablet-landscape-up {
    padding: 5rem;
  }
}

.modal-is-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}

.figmaDesign {
  position: relative;
  border: abstracts.$thinner-border-clamp solid abstracts.$border-dimmed;
  border-radius: 0.5rem;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'design'
    'content';

  @include abstracts.for-tablet-portrait-up {
    max-width: 80vw;
  }
  @include abstracts.for-tablet-landscape-up {
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: 'design content';
    max-width: 75vw;
  }
}

.designFigma {
  grid-area: design;
  width: 100%;
  // max-height: 380px;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  grid-area: content;
  background-color: #1f1f1faa;
}

.desingButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fdLinkButton {
  width: max-content;
}
