//
// HOME PAGE STYLES

@use '../abstracts';

.hero {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas:
    'badge'
    'headline'
    'subheadline'
    'text'
    'cta';

  @include abstracts.for-tablet-landscape-up {
    grid-template-areas:
      'headline badge'
      'subheadline badge'
      'text badge'
      'cta badge';
    justify-items: start;
  }

  &__subheadline {
    text-align: center;
    grid-area: subheadline;
    font-size: abstracts.$headline-size-clamp;
    font-weight: 600;
    @include abstracts.for-tablet-portrait-up {
      text-align: left;
    }
  }

  &__text {
    text-align: center;
    grid-area: text;
    line-height: 1.5;
    @include abstracts.for-tablet-landscape-up {
      padding-right: 3rem;
      text-align: left;
    }
  }

  &__logo {
    justify-self: center;
  }
}

.hero__headline {
  width: auto;

  font-family: abstracts.$logo;
  font-size: abstracts.$large-font-size-clamp;

  font-weight: 300;

  grid-area: headline;
}

.hero__cta {
  padding-top: 1rem;
  position: relative;
  grid-area: cta;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hero__logo {
  grid-area: badge;
  width: 240px;
  // min-height: 180px;
  height: 240px;

  @include abstracts.for-tablet-landscape-up {
    width: 320px;
    height: 320px;
  }
}

.rect {
  stroke-width: 5px;
  stroke-dasharray: 10px;
  stroke-dashoffset: 1rem;
}
