//
// SITE BUTTON STYLES

@use '../abstracts';

.btn {
  display: inline-block;
  border: abstracts.$thinner-border-clamp solid abstracts.$border-accent;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

.btn:hover {
  box-shadow: 0 0 1rem 0.5rem abstracts.$border-dimmed inset;
}

.border__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  stroke: rgb(218, 26, 26);
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
}

.tags_link {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.tags_link:hover {
  opacity: 0.5;
}
