//
// FORM FIELD STYLES

@use '../abstracts';

.contactForm__container input {
  background-color: abstracts.$background-dark;
  color: abstracts.$font-light;
  border-radius: 0.25rem;
  border: 1px solid abstracts.$border-dimmed;
  width: 100%;
  padding: clamp(0.13rem, calc(0.03rem + 0.49vw), 0.38rem);
}

.textAreaWrapper {
  height: 100%;
}

.contactForm__messageInput {
  background-color: abstracts.$background-dark;
  color: abstracts.$font-light;
  border-radius: 0.25rem;
  border: 1px solid abstracts.$border-dimmed;
  resize: none;
  width: 100%;
  padding: clamp(0.13rem, calc(0.03rem + 0.49vw), 0.38rem);
  height: calc(100% - clamp(2rem, calc(1rem + 0.98vw), 2.5rem));
}
