//
// SITE NAVIGATION

@use '../abstracts';

.navbar {
  margin-top: 0.5em;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  text-align: left;
  flex-grow: 1;

  // flex wrapping offset
  padding-right: 1rem;
}

.navbar__logo--align {
  text-align: center;
}

.navbar__navigation {
  // padding hack for vertically center align in flex container
  padding-block: clamp(0.25rem, -0.04rem + 1.46vw, 1rem);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink::after {
  display: block;
  content: '';
  border-bottom: solid 2px abstracts.$font-light;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 1px;
}

.navLink:hover::after,
.navLink:active::after {
  transform: scaleX(1);
}

.navLink.active::after {
  transform: scaleX(1);
}

.btn.cv {
  opacity: 0.75;
  padding-inline: 8px;
  padding-block: 4px;
  text-align: center;
  border: clamp(0.1rem, 0.2rem, 0.3rem) solid abstracts.$border-dimmed;
}

.underlay {
  fill: transparent;
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5;
}

.filler {
  fill: transparent;
  stroke: url(#gradient);
  stroke-width: 1.5;
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  transition: stroke-dashoffset 750ms ease-in-out;
}

svg:hover > .filler {
  stroke-dashoffset: 0;
}
