//
// SITE secondary Scrollbar STYLES

@use '../abstracts';

/* .scrollbar {
  display: none;
  position: absolute;
  right: -1.5rem;
  top: 0;
  width: 1rem;
  height: 100%;
  border: 2px solid abstracts.$border-dimmed;
  border-radius: 0.5rem;
  @include abstracts.for-tablet-portrait-up {
    display: block;
  }
}

.scrollbar__button {
  position: relative;
  background-color: abstracts.$border-dimmed;
  left: 50%;
  transform: translateX(-50%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
} */


