@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Taviraj:ital,wght@1,700&family=Titillium+Web:wght@300;400;600;700&display=swap');

$logo: 'Montserrat Alternates', sans-serif;
$hero-name: 'Taviraj', serif;
$othertext: 'Titillium Web', sans-serif;
