//
// MIXINS

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin for-phone-only {
  @media (max-width: 459px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 460px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 920px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
